mixin product(nombre, imgUrl, precio, enlace_wpp, descripcion)
    .product
        .product__image 
            img(src=""+imgUrl, alt="Imagen del producto "+nombre)
            button.view_more Ver más
        .product__info 
            span.product__info-name #{nombre}
            span.product__info-price #{precio}
            p.product__info-description #{descripcion}
            a(href=""+enlace_wpp).product__info-link

mixin offer(nombre, imgUrl, enlace_wpp, descripcion, precioAnterior, precioNuevo, descuento)
    .offer
        .offer__image
            img(src=""+imgUrl, alt="Imagen de la oferta "+nombre)
            span.offer__discount #{descuento}
            button.view_more Ver más
        .offer__info 
            span.offer__info-name #{nombre}
            .offer__prices
                span.offer__prices-before <strike>#{precioAnterior}</strike>
                span.offer__prices-new #{precioNuevo}
            p.offer__info-description #{descripcion}
            a(href=""+enlace_wpp).offer__info-link 


doctype html
html(lang="en")#html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/estilos_linea.css")
        title Línea Bebé
    body
        section#notice
            span.notice__text Envíos gratis por compras superiores a 100.000 pesos
        include componentes/_header.pug
        .modal
            .offerModal
                img(src="../images/close_button.svg", alt="Menú de hamburguesa").close_button 
                .offerModal__image
                    img(src="../images/loading.gif", alt="Imagen del producto")
                .offerModal__info
                    h1.offerModal__info-name Cargando...
                    p.offerModal__info-description Cargando...
                    .offerModal__info-prices
                        h2.price-before <strike>Cargando...</strike>
                        h2.price-now Cargando... 
                    .offerModal__info-buy 
                        span Comprar:
                        .social_media
                            a(href="https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w") 
                                i.fab.fa-whatsapp
        section#line
            span.line_title Línea bebé
            nav.line__menu
                a(href="bebe.html").line__menu-element bebe
                a(href="cosmetica.html").line__menu-element cosmética
                a(href="cuidado-corporal.html").line__menu-element cuidado corporal
                a(href="capilar.html").line__menu-element capilar
                a(href="quema-grasa.html").line__menu-element quema grasa
                a(href="estuches.html").line__menu-element estuches
        main.catalog
            img(src="../images/hojas_medio2.svg", alt="Imagen de hoja sencilla").lines__image
            .catalog__container 
                //+offer("Gel green", "../images/gelGreen.jpg", "https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w", "Es un gel mentolado para masajes de rápida acción. Al ser aplicado sobre la piel proporciona una agradable sensación de alivio, frescura y bienestar sobre la zona afectada gracias a su fórmula con Mentol, Aceites de limoneno, Salcilato de metilo, Cannabis sativa, Eucalipto y Árnica. Adecuado para antes y después de los deportes", "50.000", "25.000", "50%")
                +product("Colonia Baby Ross gotas de amor", "../images/coloniabebeAmor.jpg", "36.000", "https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w","Para todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop Sweat, un producto formulado con activos especiales que disminuye la sudoración excesiva y evita el mal olor en manos, pies, axilas. Esta crema humecta e hidrata la piel contrarrestado la agresividad del anti-transpirante y reduce la perdida de agua trans-epidermal.")
                +product("Colonia Baby Ross gotas de amor x 60 ml", "../images/coloniabebeAmorp.jpg", "36.000", "https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w","Para todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop Sweat, un producto formulado con activos especiales que disminuye la sudoración excesiva y evita el mal olor en manos, pies, axilas. Esta crema humecta e hidrata la piel contrarrestado la agresividad del anti-transpirante y reduce la perdida de agua trans-epidermal.")
                +product("Colonia Baby Ross dulces sueños", "../images/coloniabebeSueños.jpg", "36.000", "https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w","Para todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop Sweat, un producto formulado con activos especiales que disminuye la sudoración excesiva y evita el mal olor en manos, pies, axilas. Esta crema humecta e hidrata la piel contrarrestado la agresividad del anti-transpirante y reduce la perdida de agua trans-epidermal.")
                +product("Colonia Baby Ross dulce caricia", "../images/coloniabebeCaricia.jpg", "36.000", "https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w","Para todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop Sweat, un producto formulado con activos especiales que disminuye la sudoración excesiva y evita el mal olor en manos, pies, axilas. Esta crema humecta e hidrata la piel contrarrestado la agresividad del anti-transpirante y reduce la perdida de agua trans-epidermal.")
                +product("Crema protectora Baby Ross x 180G", "../images/cremabebeProtectora.jpg", "36.000", "https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w","Para todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop Sweat, un producto formulado con activos especiales que disminuye la sudoración excesiva y evita el mal olor en manos, pies, axilas. Esta crema humecta e hidrata la piel contrarrestado la agresividad del anti-transpirante y reduce la perdida de agua trans-epidermal.")
                +product("Crema protectora Baby Ross x 20 g", "../images/cremabebeProtectoraP.jpg", "36.000", "https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w","Para todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop Sweat, un producto formulado con activos especiales que disminuye la sudoración excesiva y evita el mal olor en manos, pies, axilas. Esta crema humecta e hidrata la piel contrarrestado la agresividad del anti-transpirante y reduce la perdida de agua trans-epidermal.")
                +product("Crema para bebé con fécula de maiz", "../images/cremabebeMaiz.jpg", "36.000", "https://api.whatsapp.com/send?phone=573208762984&fbclid=IwAR123Wo7Xz5luFCOJkw-6zmsO57RViufn7Ykp-b8NwMpVujdYjV71MwmF8w","Para todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop SweaPara todos aquellos que sufren de sudoración, Ross D' Elen ideo el Stop Sweat, un producto formulado con activos especiales que disminuye la sudoración excesiva y evita el mal olor en manos, pies, axilas. Esta crema humecta e hidrata la piel contrarrestado la agresividad del anti-transpirante y reduce la perdida de agua trans-epidermal.")
                
                
            img(src="../images/hojas_medio2.svg", alt="Imagen de hoja sencilla").lines__image
        .modal
            .distributorModal
                img(src="../images/close_button.svg", alt="Menú de hamburguesa").close_button 
                img(src="../images/hoja_sencilla.svg", alt="Imagen de hoja sencilla").form__image
                h1.distributorModal__title Regálanos tus datos y pronto nos pondremos en contacto contigo
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfOtaUtxRweXQMUqnLia9gtU6sZfetwFUnb-JoduV4OBMiHbg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                img(src="../images/hoja_sencilla.svg", alt="Imagen de hoja sencilla").form__image
        .modal 
            .wholesaleModal
                img(src="../images/close_button.svg", alt="Menú de hamburguesa").close_button 
                img(src="../images/hojas_ppal.svg", alt="Imagen de hoja sencilla").form__image
                h1.distributorModal__title Regálanos tus datos y pronto nos pondremos en contacto contigo
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf1puLzSvehJP_yky7VS1LicPtRsnWOdbtCKzSCrqyi7QWiwA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                img(src="../images/hojas_ppal.svg", alt="Imagen de hoja sencilla").form__image
        include componentes/_footer.pug
        script(src="../js/lines_animations.js")
        script(src="../js/modal_footer.js") 
        script(src="../js/modal_lines.js") 
        script(src="../js/menu.js")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.1/css/all.css' integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp' crossorigin='anonymous')

